
main{
 display: flex;
 flex-direction: column;
 text-align: center;
 align-items: center;
 margin:0 auto;


 
p{
  font-size: var(--text-sm);
  color:var(--gray-300)

}
}

.links{
  display: flex;
  justify-content: space-evenly;
  margin: 80px 94px;
  flex-flow: row wrap;
  gap: 12px;

  
  a{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border: none;
    padding:8px;
    border-radius: 16px;
  
    width: 114px;
    height: 40px;
    color: var(--text-color);
    background-color: var(--background-links);
  }
  img{
    max-width: 100%;
    object-fit: cover;

  }

}

@media screen and (max-width:650px){
  .links{
    display:grid;
    grid-template-columns: repeat(2, 1fr);
  }
}
.destaques{
display:flex;
align-items:center;
flex-direction: column;
justify-content: center;
text-align: center;
margin: 72px 56px;
}

